$yellow: #F2C94C;;
$border: #E0E0E0;
$text: #4F4F4F;
$text2: #828282;
$inactive: #EB5757;
$active: #27AE60;
$status: #9B51E0;

.solve-page {
  margin: 10em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 1217px;
    margin-bottom: 6em;

    .result-count {
      button {
        border: 0;
        background: transparent;
        color: white;
        font-size: 1.1em;
      }

      .active {
        color: $yellow;
      }
    }

    p {
      font-size: 2.17em;
      text-transform: capitalize;
    }

    .sort-drop {
      width: 131px;

      * {
        outline: none !important;
      }

      div[class$="-control"] {
        background-color: transparent;
        border-radius: 3px;
        min-height: initial;
        height: 34px;
        
        > div {
          display: flex;
          justify-content: center;
        }

        &:hover {
          cursor: pointer!important;
        }

        input {
        }

        div[class$="-singleValue"],
        div[class$="-indicatorContainer"] {
          color: white;
          font-size: 12px;
          padding: 0 0.4em;
          height: 100%;
          display: flex;
          align-items: center;

          svg {
          }
        }

        div[class$="-indicatorContainer"] {
          color: #483A4E;
          background-color: white;
        }

        [class$="-indicatorSeparator"] {
          margin: 0;
        }
      }

      div[class$="-menu"] {
        border-radius: 0;
        margin: 0;
        
        div {
          color: #FFF;
          background: #483A4E !important;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .case-container {
    display: flex;
    justify-content: center;

    .card-container {
      display: grid;
      width: 1217px;
      justify-content: space-between;
      grid-template-columns: 352px 352px 352px;
      grid-template-rows: 245px; 
      grid-row-gap: 5em;
    }
  }
}
