$yellow: #F2C94C;;
$border: #E0E0E0;
$text: #4F4F4F;
$text2: #828282;
$inactive: #EB5757;
$active: #27AE60;
$status: #9B51E0;

.solve-page {
  margin: 10em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .mobile-title {
    display: none;
    font-size: 2.17em;
    text-transform: capitalize;
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 1217px;
    margin-bottom: 6em;

    .result-count {
      button {
        border: 0;
        background: transparent;
        color: white;
        font-size: 1.1em;
      }

      .active {
        color: $yellow;
      }
    }

    .title {
      font-size: 2.17em;
      text-transform: capitalize;
    }

    .sort-drop {
      width: 131px;

      * {
        outline: none !important;
      }

      div[class$="-control"] {
        background-color: transparent;
        border-color: white;
        border-radius: 3px;
        min-height: initial;
        height: 34px;
        
        > div {
          display: flex;
          justify-content: center;
        }

        &:hover {
          cursor: pointer!important;
        }

        div[class$="-singleValue"],
        div[class$="-indicatorContainer"] {
          color: white;
          font-size: 12px;
          padding: 0 0.4em;
          height: 100%;
          display: flex;
          align-items: center;
        }

        div[class$="-indicatorContainer"] {
          color: #483A4E;
          background-color: white;
        }

        [class$="-indicatorSeparator"] {
          margin: 0;
          background-color: white;
        }
      }

      div[class$="-menu"] {
        border-radius: 0;
        margin: 0;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        
        div {
          color: #FFF;
          background: #483A4E !important;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .case-container {
    display: flex;
    justify-content: center;

    .card-container {
      display: grid;
      width: 1217px;
      justify-content: space-between;
      grid-template-columns: 352px 352px 352px;
      grid-template-rows: 245px; 
      grid-row-gap: 5em;
    }
  }
}


@media screen and (max-width: 1236px) {

  .solve-page {

    .head {
      width: 100%;
      padding: 0 2em;
    }

    .case-container {
      width: initial;

      .card-container {
        width: 100%;
        grid-template-columns: 50% 50%;

        .case-card {
          margin: 0 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .solve-page {
    margin-top: 6em;

    .mobile-title {
      display: block;
      width: 100%;
    }

    .head {
      margin-bottom: 2em;

      .title {
        display: none;
      }
    }

    .case-container {
      width: 100%;
      padding: 0 1em;

      .card-container {
        display: flex;
        flex-direction: column;

        .case-card {
          margin: 1em 0;
          width: 100%;

          .card-details {
            .short-description, .more-details {
              width: initial;
              align-self: flex-start;
            }
          }
        }
      }
    }
  }
}
