@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');
$placeholder: #BDBDBD;
$textcolor: #4F4F4F;

@mixin placeholder {
  ::-webkit-input-placeholder { /* Edge */
    color: $placeholder;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder;
  }
  
  ::placeholder {
    color: $placeholder;
  }
}

.report-page {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1em;
    text-align: center;

    .title {
      color: white;
      text-transform: capitalize;
      font-size: 2.167em;
      margin-bottom: 0.6em;
      letter-spacing: 0.14em;
    }
  
    .warning {
      display: flex;

      .warning-sign {
        height: 17px;
        margin-right: 1em;
      }
  
      p {
        font-size: 1.17em;
        color: #F2C94C;
      }
    }
  }

  .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4em 0;

    form {
      display: flex;

      .form-body {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }

      .form-left {
        margin-right: 5em;
      }
  
      .form-right {
        
        button {
          align-self: flex-end;
        }
      }
    }
  }

  .form-input {
    display: flex;
    flex-direction: column;
    
    span {
      color: white;
      text-transform: capitalize;
      letter-spacing: 0.07em;
      margin-bottom: 0.5em;
      text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    input {
      height: 3.55em;
      padding: 0 1em;
      width: 43.2em;
      margin-bottom: 2.3em;
      border-radius: 3px;
      border: 0;
      color: $textcolor;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    textarea {
      padding: 1em;
      height: 12em;
      margin-bottom: 2.3em;
      border-radius: 3px;
      border: 0;
      width: 59.6em;
      color: $textcolor;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .last-textarea {
      height: 23.7em;
    }

    @include placeholder()
  }

  .radio-buttons {

    div {
      display: flex;
      color: white;
      text-transform: capitalize;

      input {
        width: initial;
        height: initial;
        margin-right: 1em;

        &:last-child {
          margin-left: 2em;
        }
      }
    }
  }
}


@media screen and (max-width: 1191px) {

  .report-page {
    margin-top: 7em;

    .header-title {
    
      .warning {
        display: flex;
        flex-direction: column;
  
        .warning-sign {
          height: 17px;
          margin-right: 0;
          margin-bottom: 1em;
        }
      }
    }

    .form-container {

      form {
        display: block;

        .form-left {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .report-page {

    .form-container {

      form {
        width: 90%;

        .form-body {
        }
      }
    }

    .form-input {
      input, textarea {
        width: 100%;
      }
    }
  }
}
