@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');

.btn {
  width: 12.6em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  position: relative;
  color: white;
  font-size: 14px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  img {
    position: absolute;
    right: 1em;
  }

  &--report-submit {
    background-color: #27AE60;
  }
}

.landing-button {
  width: 14.4em;
  background: #BB6BD9;
  border-radius: 5.833em;
  border: 0;
  margin-top: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  font-size: 2.167em;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  padding: 1em 0;

  &:hover {
    cursor: pointer;
  }
}

.social-button {
  display: flex;
  width: 282px;
  height: 39px;
  border-radius: 10px;
  margin: 0.5em;

  &--linkedin {
    background-color: #0077B5;

    div {
      &:last-child {
        color: white;
      }
    }
  }

  &--google {
    div {
      &:last-child {
        color: #2F80ED;
      }
    }
  }

  div {
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      width: 43px;
      box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.15);
      img {
        width: 21px;
        height: 21px;
      }
    }

    &:last-child {
      text-transform: capitalize;
      font-size: 1.3em;
      flex: 1;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }
  }
}

@media screen and (max-width: 768px) {
  .landing-button {
    width: 90%;
    font-size: 1.3em;
    border-radius: 0.2em;

    &:last-child {
      margin-bottom: 7em;;
    }
  }
}
