@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');

.header {
  background-color: rgba(0, 0, 0, 0.2);
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;

  img {
    width: auto;
    height: 3.1666em;
  }

  nav {
    align-self: center;

    ul {
      list-style: none;

      li {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 6em;
        color: white;
        letter-spacing: 0.07em;

        .active {
          color: #F2C94C;
        }

        a {
          text-decoration: none;
          color: white;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.mobile-header {
  display: none;
}

@media screen and (max-width: 1302px) {
  .header {
    display: none;
    height: 52px;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);

    .menu-icon {
      height: 2em;
      width: auto;
      position: relative;
      left: 1em;

      &--close {
        position: absolute;
        left: initial;
        right: 1em;
        top: 2em;
      }
    }

    .logo {
      height: 2em;
      width: auto;
    }

    .profile-image {
      height: 2.5em;
      width: 2.5em;
      background: red;
      position: relative;
      right: 1em;
      border-radius: 50%;
    }

    .side-bar {
      position: fixed;
      height: 100%;
      width: 100%;
      background: #483A4E;
      top: 0;
      transition: left 500ms ease-in-out;

      nav {
        ul {
          font-size: 2em;

          li {
            display: block;
            padding: 1em 0 1em 1em;
          }
        }

        &:last-child {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}
