@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.04em;
  outline: none !important;
  font-family: 'ABeeZee';
}

button {
  border-radius: 3px;
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

html {
  background: linear-gradient(128.03deg, #BB6BD9 13.39%, #483A4E 78.11%);
}

body {
  min-height: 100vh;
  font-size: 12px;
  overflow-y: scroll;
}
