@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');

.info-card {
  background-color: white;
  height: 13em;
  width: 19.45em;
  margin-right: 1px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    color: #828282;
    margin: 0;
    letter-spacing: 0.07em;
  }

  img {
    margin-bottom: 0.5em;
    width: auto;
    height: 4em;
  }

  .number {
    font-size: 3.5em;
  }

  .title {
    font-size: 1em;
    text-transform: uppercase;
  }

  &:last-child {
    margin-right: 0;
  }
}

.landing-page {
  display: flex;
  min-height: 100vh;
  justify-content: flex-end;
  align-items: center;
  overflow-y: scroll;

  .page-content {
    display: flex;

    .left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content-title {
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: white;
        font-size: 1.6em;
        margin: 0;
      }

      .landing-button {
        width: 14.4em;
        background: #BB6BD9;
        border-radius: 5.833em;
        border: 0;
        margin-top: 1em;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        font-size: 2.167em;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        text-align: center;
        padding: 1em 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .right-content {
      width: 600px;
    }

    .info-cards {
      display: flex;
      margin: 4em 0;
    }
  }
}


@media screen and (max-width: 1302px) {
  .landing-page {
    justify-content: center;
    margin-top: 7em;

    .page-content {

      .right-content {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info-card {
    margin-right: 0;
    margin-bottom: 1px;
    width: 90%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .info-cards {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .landing-page {
    justify-content: center;

    .page-content {

      .left-content {

        .content-title {
          text-align: center;
          font-size: 1.2em;
          padding: 0 0.4em;
        }

        .landing-button {
          width: 90%;
          font-size: 1.3em;
          border-radius: 0.2em;

          &:last-child {
            margin-bottom: 7em;;
          }
        }
      }

      .info-cards {
        flex-direction: column;
      }

      .right-content {
        display: none;
      }
    }
  }
}
